USE [master]
GO
/****** Object:  Database [Team11]    Script Date: 8/31/2020 1:21:06 PM ******/
CREATE DATABASE [Team11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Team11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Team11.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Team11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Team11_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Team11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Team11]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 8/31/2020 1:21:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_user](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Totalmatchesplayed] [varchar](50) NULL,
	[Contactnumber] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[DOB] [varchar](50) NOT NULL,
	[Height] [int] NULL,
	[Weight] [int] NULL,
	[pass] [varchar](50) NULL,
	[confirmpass] [varchar](50) NULL,
	[userRole] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_UserRole]    Script Date: 8/31/2020 1:21:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_UserRole](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbl_user]  WITH CHECK ADD FOREIGN KEY([userRole])
REFERENCES [dbo].[tbl_UserRole] ([userId])
GO
USE [master]
GO
